.container {
    background-color: antiquewhite;
    border: 2px solid black;
    height: 50vh;
    display: grid;
    /* it can repeat the 1fr 3-times */
    /* grid-template-columns: repeat(3, 1fr); */
    /* fr(fraction) is a unit use in grid  */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 100px 100px;
    
}

.item {
    background-color: blue;
    border: 1px solid red;
    /* margin: 10px; */
    /* width: 10vw; */
    height: 50px;
    text-align: center;
    font-weight: 900;
}

/* it can be use to swap or replace the box */
.item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}